<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>[[#{login.title}]]</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="${ctx}+'/themes/atmosphere/css/style.css'" rel='stylesheet' type='text/css' />
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
<h1>[[#{login.header}]]</h1>
<div class="login-form">
	<div class="avtar">
		<img th:src="${ctx}+'/themes/default/images/avtar.png'" />
	</div>
	<form action="login.do" method="post">
		<input type="text" class="text" name="username" value="username" autocomplete="off" placeholder="[[#{login.username.placeholder}]]" >
		<input type="password" name="password" value="password" autocomplete="off" placeholder="[[#{login.password.placeholder}]]">
		<div class="signin">
			<input type="submit" th:value="#{login.submit}" >
		</div>
	</form>
</div>
<div class="copy-rights">
		<p>[[#{login.copyright}]]</p>
</div>
</body>
</html>