<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>代码生成</title>
    <#include "/view/include/common_css.html">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <#include "/view/include/header.html">
    <#include "/view/include/leftMenu.html">
    <div class="layui-body" id="content-pane">
        <!-- 内容主体区域 -->
    </div>
    <#include "/view/include/footer.html">
</div>
<#include "/view/include/common_js.html">
<script language="javascript" src="${static}/common/js/index.js?_v=${version}"></script>
<script>
    $("#content-pane").load("${ctx}/table/list");
</script>
</body>
</html>